/.pytest_cache
/requirements.txt


### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
dist/funcnodes_pandas-0.1.0-py3-none-any.whl
dist/funcnodes_pandas-0.1.0.tar.gz
dist/funcnodes_pandas-0.1.1-py3-none-any.whl
dist/funcnodes_pandas-0.1.1.tar.gz
